.container#content {
  margin-top: 60px;
}
body {
  background-color: $light-gray;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.header-free {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
  transition: all ease-in 300ms;
}

.header-at-top {
  background-color: transparent;
  border-bottom: 0px;
  line-height: 1;
  transition: all ease-in 300ms;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;
  &:hover {
    color: #007bff;
  }
}


ul {
  list-style: none;
  padding: 0;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { 
  transform: scale(1.05); 
  cursor: pointer;
}

.modal-class {
  width: 90%;
}

@media only screen and (max-width: 1000px) {
  .modal-class {
    width: 100%;
  }
  .navbar {
    background-color: white;
    // border-right: 1px solid rgba(0, 0, 0, 0.4);
    // border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    line-height: 1;
    transition: all ease-in 300ms;
  }
}


